html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a:link {
  text-decoration: inherit;
  color: inherit; }
a:visited {
  text-decoration: inherit;
  color: inherit; }

html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  position: sticky;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #2b3146; }
  .header__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%; }

.logo {
  place-self: center start; }
  .logo img {
    height: 1.5rem; }

.nav {
  place-self: center end; }
  .nav__list {
    display: flex; }
    .nav__list--item {
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem;
      transition: all 1s; }
    .nav__list--item:hover {
      border-bottom: 1px solid #0e71af; }

@media (min-width: 1152px) {
  .header__container {
    max-width: 1152px; } }
.body {
  width: 100%; }
  .body__container {
    margin: 0 auto;
    padding: 0 0 2rem 0; }
  .body__header {
    color: black;
    font-size: 1.2rem;
    text-align: center;
    margin: 1.2rem 0; }
  .body__bars {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .body__template-grid {
    margin-top: 5rem;
    width: 100%; }

.select {
  place-self: center start;
  width: 15rem;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border: 1px solid #a5a5a5;
  border-radius: 0.3rem;
  background-color: transparent;
  color: #7c7b7b;
  padding: 0.2rem; }

.search {
  place-self: center end;
  width: 17rem;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1rem;
  border: 1px solid #a5a5a5;
  border-radius: 0.3rem;
  color: #7c7b7b;
  padding: 0.2rem;
  background-image: url(../../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.8rem 0.8rem; }

.template-grid__header {
  font-size: 1rem;
  line-height: 1.2rem;
  color: black;
  margin-bottom: 0.8rem; }
.template-grid__content {
  display: grid;
  grid-auto-rows: 1fr;
  grid-gap: 0.7rem 0.7rem; }
  .template-grid__content_img {
    max-width: 100%;
    height: auto; }
  .template-grid__content_text {
    font-size: 0.8rem;
    line-height: 1.2rem; }
    .template-grid__content_text:hover {
      color: #2a7ee6;
      cursor: pointer; }

@media (min-width: 1152px) {
  .body__container {
    max-width: 1152px; } }
@media (min-width: 991px) {
  .template-grid__content {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; } }
@media (max-width: 990px) {
  .template-grid__content {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }
@media (max-width: 768px) {
  .template-grid__content {
    grid-template-columns: 1fr 1fr; } }
.footer {
  width: 100%;
  background-color: #2b3146;
  padding: 2rem;
  color: #fff; }
  .footer__top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .footer__logo-area {
    place-self: center start; }
  .footer__contacts-area {
    display: grid;
    grid-template-areas: "links contact" "links community"; }
    .footer__contacts-area__links {
      grid-area: links;
      display: flex;
      flex-flow: column nowrap; }
    .footer__contacts-area__conact {
      grid-area: contact; }
    .footer__contacts-area__community {
      grid-area: community; }
  .footer__bottom {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    font-weight: 300;
    font-size: 1rem; }
  .footer__docs {
    place-self: start end; }
    .footer__docs_link {
      margin-left: 2rem; }

.footer__contacts-area__contact_link:hover,
.footer__docs_link:hover {
  text-decoration: underline; }

@media (min-width: 1152px) {
  .footer__container {
    max-width: 1152px; } }

/*# sourceMappingURL=style.css.map */
